<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springcloud_eurekaclent02.mapper.CloudGradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springcloud_eurekaclent01.bean.CloudGrade">
        <id column="grade_id" property="gradeId" />
        <result column="user_id" property="userId" />
        <result column="shuxue" property="shuxue" />
        <result column="yuwen" property="yuwen" />
        <result column="yingyu" property="yingyu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        grade_id, user_id, shuxue, yuwen, yingyu
    </sql>

</mapper>
